html {
  height: 100vh !important;
  width: 100vw !important;
}

body {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  background-color: #f9f7f7;
  color: #112d4e;
}
a {
  color: #112d4e;
  text-decoration: none;
}
input,
button {
  border-radius: 20px;
  font-size: large;
  background-color: white;
  color: black;
}
textarea {
  border-radius: 20px;
  font-size: large;
  background-color: white;
  color: black;
}
.dark-mode {
  background-image: linear-gradient(
    rgba(27, 20, 98, 255) 0%,
    rgba(7, 43, 144, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
.dark-mode a {
  color: white;
}
.dark-mode input,
button {
  font-size: large;
  background-color: #1b1462;
  color: white;
}
.dark-mode textarea {
  border-radius: 20px;
  font-size: large;
  background-color: #1b1462;
  color: white;
}
.navbar-left {
  position: fixed;
  top: 10px;
  left: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.navbar-right {
  position: fixed;
  top: 10px;
  right: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.logo-style {
  width: 25%;
  height: 90%;
}
.contact,
.index {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 20%;
  padding-top: 5%;
}

.contact-form,
.index-column {
  display: flex;
  flex-direction: column;
}
